# Default ignored files
/shelf/
/workspace.xml
use_case.drawio
Курсач.doc
Курсовая_сети.docx
ПЗ_СетевыеПриложения.odt
env
lenv
*.egg-info
*.pot
*.py[co]
**/__pycache__
.tox/
migrations
MANIFEST
dist/
docs/_build/
docs/locale/
node_modules/
tests/coverage_html/
tests/.coverage
build/
tests/report/
node_modules